.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #393836;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.a-title{
    font-weight: 400;
}

.a-sub{
    margin: 20px 0px;
    width: 80%;
}

.a-desc{
    font-weight: 300;
    width: 80%;
}

@media screen and (max-width: 480px) {
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left{
        width: 100%;
    }

    .a-card{
        height: 35vh;
    }

    .a-card.bg{
        display: none;
    }

    .a-right{
        padding: 20px;
    }

    .a-title{
        font-size: 40px;
    }

    .a-sub{
        width: 100%;
    }

    .a-desc{
        width: 100%;
    }
}