.c{
    height: 100vh;
    position: relative;
}

.c-bg{
    width: 20px;
    height: 100%;
    background-color: #7be69b;
    position: absolute;
}

.c-wrapper{
    padding: 50px;
    display: flex;
}

.c-left{
    flex: 1;
}

.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title{
    font-size: 60px;
    width: 80%;
}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon-phone{
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.c-icon-email{
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.c-icon-address{
    width: 28px;
    height: 28px;
    margin-right: 16px;
}

.c-desc{
    font-weight: 200;
}

form{
    margin-top: 20px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
}

button{
    border: none;
    padding: 15px;
    background-color: #7be69b;
    color: white;
    font-weight: 500;
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .c-wrapper{
        flex-direction: column;
        padding: 0px 50px;
        height: 100vh;
    }

    .c-left{
        flex: 1.5;
    }

    .c-right{
        flex: 2.5;
    }

    .c-title{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 400;
        width: 100%;
    }

    .c-info-item{
        margin: 40px 0px;
        width: 100%;
    }

    .c-icon-phone{
        width: 16px;
        height: 16px;
        margin-right: 20px;
    }

    .c-icon-email{
        width: 17px;
        height: 17px;
        margin-right: 20px;
    }

    .c-icon-address{
        width: 34px;
        height: 34px;
        margin-right: 15px;
    }

    .c-desc{
        display: none;
    }

    form{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input{
        height: 40px;
        margin: 10px;
        margin-left: 0px;
    }

    button{
        margin-top: 10px;
    }

    .c-bg{
        width: 10px;
    }
}