.i{
    /* all elements comes horizontally if they are vertically*/
    display: flex;  

    /* full screen height, 50vh gives half screen height */
    height: 100vh;
} 

.i-left{
    /* it gives 50% space to i-left */
    flex: 1;

    /* for centering intro, name, title and description vertically*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    /* it gives 50% space to i-right */
    flex: 1;

    position: relative;
}

.i-left-wrapper{
    /* it gives padding from top right bottom left*/
    padding: 50px;

    height: 70%;

    /* giving line-space*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    font-size: 60px;
}

.i-title{
    /* because we want to show animation only in this height*/
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }   
    /* 50%{
        transform: translateY(-100px);
    }     */
}

.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #15ea55;

    /* it will center vertically in specific height */
    display: flex;
    align-items: center;
}

/* .i-desc{
    margin-top: 10px;
} */

.i-btns{
    display: flex;
}

.i-btn1{
    display: block;
    width: 110px;
    height: 23px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid #15ea55;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.i-btn2{
    display: block;
    width: 110px;
    height: 23px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    background-color: #15ea55;
    border: 2px solid #15ea55;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.i-btn1:hover{
    background-color: #15ea55;
}

.i-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

.i-img{
    width: 100%;
    height: 100%;
    object-fit: contain;

    position: absolute;
}

.i-bg{
    clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #15ea55;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 480px) {
    .i{
        flex-direction: column;
    }

    .i-left{
        flex: 2.5;
    }

    .i-right{
        flex: 1.5;
    }

    .i-btns{
        margin-top: 10px;
    }

    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .i-name{
        font-size: 40px;
        margin: 20px;
    }

    .i-desc{
        margin-top: 20px;
        margin-left: 6px;
        margin-right: 6px;
    }
}